
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shop</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <header>
    <h1>Martin Services PunchOut Shop</h1>
  </header>
  <main>
    <div class="product-grid">
      <% products.forEach(product => { %>
        <div class="product-card">
          <img src="<%= product.image %>" alt="<%= product.name %>" class="product-image"/>
          <h2 class="product-name"><%= product.name %></h2>
          <p class="product-price">Price: €<%= product.price %></p>
          <form action="/cart" method="POST">
            <input type="hidden" name="productId" value="<%= product.id %>">
            <label for="quantity">Quantitty:</label>
            <input type="number" name="quantity" value="1" min="1" style="width: 60px; margin-bottom: 10px;">
            <br/><br/>
            <button type="submit">Add to Cart</button>
          </form>
        </div>
      <% }) %>
    </div>
    <div class="cart-link">
      <a href="/cart">View Cart</a>
    </div>
  </main>
</body>
</html>
